extends ./base/layout.pug

block content
    span.burlap.open
    //- span.burlap.close
    //- span.shears
    //- span.clipWoods
    //- span.loveWoods
    span.plants
    //- span.cherry.top
    //- span.cherry.bottom
    span.green
    span.blackberry
    span.brown
    span.heart