extends ./base/layout.pug

block content
    section.content.full.bgc--white.txt_center
        span.heart.one
        span.fernhome.one
        span.fernhome.two
        span.envelope.one
        span.envelope.two
        