extends ./base/layout.pug

block content
    span.plants
    section.content.full
        span.burlap.intro
        span.green
        span.blackberry
        span.brown
            .ribbon
                .deco
        span.heart--into
        a.btn.btn_gosth(href="one.html") leer