extends ./base/layout.pug

block content
    section.content.full
        span.into.bgc--lightpeach
        span.green.one
        span.green.two
        span.perejil.one
        span.perejil.two
        span.blackberry.one
        span.blackberry.two
        span.fernhome.one
        span.fernhome.two
        //- span.brown
        //-     .ribbon
        //-         .deco
        span.envelope.one
        span.envelope.two
        span.heart--into
        a.btn.btn_gosth(href="one.html") leer