extends ./base/layout.pug

block content
    section.content.full.txt_center
        section.card
            article.one.in
                .link
                    a.btn.btn_gosth(href="https://goo.gl/maps/nv77bDCrSXu", target="_blank") leer
            article.two.in
                .link
                    a.btn.btn_gosth(href="#indline", data-lity) leer
            article.tree.in
                .link
                    a.btn.btn_gosth(href="https://goo.gl/maps/sJJj2Go4P342", target="_blank") leer
    #indline.lity-hide.bgc--lightpeach.border_box
        article.pd_box
            .title.fz_7.txt_center.txt_shadow--halls.mg_bottom--x10
                h3 Confirmar
            ul.tabs(data-tabgroup="first-tab-group")
                li
                    a.active(href="#tab1") No me lo <br> perderia
                li
                    a(href="#tab2") Celebraremos <br> desde lejos
            section#first-tab-group.tabgroup
                #tab1.eco
                    form.confrim
                        .name
                            label(for="name") Nombre
                            input#name(type="text", placeholder="Nombre y Apellido")
                        .escort
                            label(for="escort") Acompañante
                            input#escort(type="text", placeholder="Nombre de su acompañate")
                        .alert
                            p
                        button.stconfrim.btn.btn_site(type="submit") Enviar
                #tab2.eco
                    form.message
                        .name--message
                            label(for="name") Nombre
                            input#nameMessage(type="text", placeholder="Nombre y Apellido")
                        .data--message
                            label(for="data") Déjanos un mensaje
                            textarea#dataMessage(type="text", placeholder="Escribir aquí el mensaje", rows="4", cols="50")
                        .alert
                            p
                        button.stmessage.btn.btn_site(type="submit") Enviar