extends ./base/layout.pug

block content
    span.loveWoods
    section.content.full
        span.into.bgc--lightpeach
        span.green.one
        span.green.two
        span.perejil.one
        span.perejil.two
        span.blackberry.one
        span.blackberry.two
        span.fernhome.one
        span.fernhome.two
        span.envelope.open
        span.burlap.open
        span.heart
        section.bgc--lightpeach.card
            article.pd_box
                .subtitle.txt_center.mg_bottom--x10.mg_top--x30
                    h3 JUNTO CON SUS PADRES
                .title.txt_center.txt_shadow--dirty.mg_bottom--x10
                    h2 
                        b CAROLINA FALCÓN Y CARLOS AMAYA
                .subtitle.txt_center.mg_bottom--x10
                    h4 Invitan a su
                .title.font_second.fz_13.txt_center.txt_shadow--dirty.mg_bottom--x10
                    h2 Boda
                .subtitle.txt_center.mg_bottom--x10
                    h4 Martes
                    hr.line.line_site
                .title.font_second.fz_7.txt_center.txt_shadow--dirty.mg_bottom--x10
                    h2 19 de Septiembre 2017
                    hr.line.line_site
                .subtitle.txt_center.mg_bottom--x10
                    h4 Trattoria L’incontro
                    h4 21-76 31st Street, Astoria Ny 11105
                    hr.line.line_site