extends ./base/layout.pug

block content
    section.content.full.txt_center
        section.card
            article.one
                a.btn.btn_gosth(href="https://goo.gl/maps/nv77bDCrSXu", target="_blank") leer
            article.two
                a.btn.btn_gosth(href="#indline", data-lity) leer
            article.tree
                a.btn.btn_gosth(href="https://goo.gl/maps/sJJj2Go4P342", target="_blank") leer
    #indline.lity-hide.bgc--lightpeach.border_box
        article.pd_box
            .title.fz_7.txt_center.txt_shadow--halls.mg_bottom--x10
                h3 Confirmar
            ul.tabs(data-tabgroup="first-tab-group")
                li
                    a.active(href="#tab1") No me lo <br> perderia
                li
                    a(href="#tab2") Celebraremos <br> desde lejos
            section#first-tab-group.tabgroup
                #tab1
                    form.confrim
                        label(for="name") Nombre
                        input(type="text", placehorder="Mi Nombre y Apellido")
                        label(for="name") Acompañante
                        input(type="text", placehorder="Mi Nombre y Apellido")
                        button.btn.btn_site(type="submit") Enviar
                #tab2
                    form.message
                        label(for="name") Nombre
                        input(type="text", placehorder="Mi Nombre y Apellido")
                        label(for="name") Mensaje
                        input(type="text", placehorder="Mi Nombre y Apellido")
                        button.btn.btn_site(type="submit") Enviar