extends ./base/layout.pug

block content
    section.content.full.txt_center
        span.ferntwo
        section.bgc--lightpeach.border_box.card
            article.pd_box
                .subtitle.txt_center.mg_bottom--x5.mg_top--x30
                    h3 DESPUÉS DE UNA CEREMONIA DE BODAS
                .subtitle.txt_center
                    h3 ESTAMOS FELICES DE INVITARLOS
                .subtitle.txt_center
                    h3 A LA RECEPCIÓN
                .subtitle.txt_center.mg_bottom--x30
                    h3 PARA CELEBRAR CON LOS NUEVOS
                .title.font_second.fz_13.txt_center.txt_shadow--halls.mg_bottom--x10
                    h2 Mr & Mrs
                .subtitle.txt_center.mg_bottom--x10
                    hr.line.line_site
                .subtitle.txt_center.mg_bottom--x10
                    h4 Trattoria L’incontro
                    h4 21-76 31st Street, Astoria Ny 11105
                    hr.line.line_site
                a.btn.btn_gosth(href="one.html") leer