extends ./base/layout.pug

block content
    section.content.full.txt_center
        span.ferntwo
        section.bgc--lightpeach.border_box.card
            article.pd_box
                .subtitle.txt_center.mg_bottom--x5.mg_top--x30
                    h3 DESPUÉS DE UNA CEREMONIA DE BODAS
                .subtitle.txt_center
                    h3 ESTAMOS FELICES DE INVITARLOS
                .subtitle.txt_center
                    h3 A LA RECEPCIÓN
                .subtitle.txt_center.mg_bottom--x30
                    h3 PARA CELEBRAR CON LOS NUEVOS
                .title.font_second.fz_13.txt_center.txt_shadow--halls.mg_bottom--x10
                    h2 Mr & Mrs
                .subtitle.txt_center.mg_bottom--x10
                    hr.line.line_site
                .subtitle.txt_center.mg_bottom--x10
                    h4 Trattoria L’incontro
                    h4 21-76 31st Street, Astoria Ny 11105
                    hr.line.line_site
                a.btn.btn_gosth(href="one.html") leer
    section.content.full.txt_center
        span.ferntwo
        section.card
            article.pd_box
                .subtitle.txt_center.mg_bottom--x10.mg_top--x30
                    h3 JUNTO CON SUS PADRES
                .title.txt_center.txt_shadow--halls.mg_bottom--x10
                    h2 
                        b CAROLINA FALCÓN Y CARLOS AMAYA
                .subtitle.txt_center.mg_bottom--x10
                    h4 Invitan a su
                .title.font_second.fz_13.txt_center.txt_shadow--halls.mg_bottom--x10
                    h2 Boda
                .subtitle.txt_center.mg_bottom--x10
                    h4 Martes
                    hr.line.line_site
                .title.fz_7.txt_center.txt_shadow--halls.mg_bottom--x10
                    h2 19 de Septiembre 2017
                    hr.line.line_site
                .subtitle.txt_center.mg_bottom--x10
                    h4 Ladies’ Pavillion
                    h4 MANHATTAN NEY YORK, NY 10024
                    hr.line.line_site
                a.btn.btn_gosth(href="two.html") leer
        section.card--column
            article.pd_box
                    .subtitle.txt_center.mg_bottom--x10.mg_top--x30
                        h3 JUNTO CON SUS PADRES