

.content
    display: block
    position: relative
    top: 0
    width: 100vw
    height: 100vh
    &.full
        +center
.card
    z-index: 99
    width: 100%
    article
        &.one
            +afterimg
            background-image: url(../images/site/two_913.png)
            height: 95vh
            z-index: -1
            display: block
            +center
            +MQ(L)
                background-size: 74%
        &.two,
        &.tree
            width: 100%
            +MQ(S)
                width: 45%
        &.two
            +afterimg
            background-image: url(../images/site/seply.png)
            height: 64vh
            z-index: -1
            +center
            display: inline-flex
            
        &.tree
            +afterimg
            background-image: url(../images/site/info.png)
            height: 64vh
            z-index: -1
            +center
            display: inline-flex
article
    &.one
        .info
            margin: auto auto 0 0
            width: 69%
            height: 58vh
            @media (min-width: 350px)
                width: 60%
                height: 62vh
                margin: auto 23% 0 auto
            @media (min-width: 590px)
                width: 53%
                height: 62vh
                margin: 45% 27% 0 auto
            @media (min-width: 676px)
                width: 45%
                height: 62vh
                margin: 43% 29% 0 auto
            // +MQ(XS)
            //     width: 60%
            //     height: 62vh
            //     margin: auto 23% 0 auto
            // +MQ(S)
            //     width: 38%
            //     height: 62vh
            //     margin: auto auto 0 23%
            // +MQ(M)
            //     width: 38%
            //     height: 62vh
            //     margin: auto auto 0 23%
            // +MQ(L)
            //     width: 31%
            //     height: 31vh
            //     margin: auto auto 0 23%