.content
    width: 95%
    display: block
    position: relative
    +MQ(M)
        width: 50%

.shears
    position: absolute
    top: 46%
    left: 15%
    &:after
        content: ""
        background-image: url('../images/theme/shears.png')
        background-repeat: no-repeat
        background-position: center center
        background-size: 100%
        width: 300px
        height: 300px
        display: block
        transform: rotate(90deg)

.clipWoods
    position: absolute
    top: 29%
    left: 18.6%
    &:after
        content: ""
        background-image: url('../images/theme/clips_wood.png')
        background-repeat: no-repeat
        background-position: center center
        background-size: 100%
        width: 139px
        height: 140px
        display: block
        transform: rotate(-45deg)
.loveWoods
    position: absolute
    top: 90%
    right: 25%
    &:after
        content: ""
        background-image: url('../images/theme/loveWoods.png')
        background-repeat: no-repeat
        background-position: center center
        background-size: 100%
        width: 300px
        height: 180px
        display: block
        transform: rotate(5deg)

.plants
    position: absolute
    top: -50%
    right: -15%
    &:after
        content: ""
        background-image: url('../images/theme/plant.png')
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        width: 500px
        height: 529px
        display: block
        transform: rotate(5deg)
.burlap.open
    top: 10%
    left: 15%
.burlap.close
    top: 13%
    right: 16%
.burlap
    position: absolute
    &:after
        content: ""
        background-image: url('../images/theme/burlapped.png')
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        width: 900px
        height: 641px
        display: block
        transform: rotate(5deg)
.cherry
    position: absolute
.cherry.top
    top: -8%
    left: 2%
.cherry.bottom
    bottom: 10%
    right: 5%
.cherry.top
    &:after
        content: ""
        background-image: url('../images/theme/cherry-top.png')
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        width: 400px
        height: 323px
        display: block
.cherry.bottom
    &:after
        content: ""
        background-image: url('../images/theme/cherry.png')
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        width: 900px
        height: 641px
        display: block

// .heart
//     position: absolute
//     bottom: -16%
//     right: 36%
//     &:after
//         content: ""
//         background-image: url('../images/theme/heart.png')
//         background-repeat: no-repeat
//         background-position: center center
//         background-size: contain
//         width: 100px
//         height: 149px
//         display: block
.brown
    position: absolute
    top: 10%
    left: 15%
    &:after
        content: ""
        background-image: url('../images/theme/brown.png')
        background-repeat: no-repeat
        background-size: contain
        background-position: center center
        width: 800px
        height: 338px
        display: block


.heart
    position: absolute
    top: 10%
    right: 60%
    &:after
        content: ""
        background-image: url('../images/theme/heart_site.png')
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        width: 250px
        height: 205px
        display: block
.green
    position: absolute
    top: 39%
    right: 60%
    &:after
        content: ""
        background-image: url('../images/theme/green.png')
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        width: 250px
        height: 205px
        display: block

.blackberry
    position: absolute
    top: 39%
    right: 60%
    &:after
        content: ""
        background-image: url('../images/theme/blackberry.png')
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        width: 100px
        height: 87px
        display: block