

.content
    display: block
    position: relative
    top: 0
    width: 100vw
    &.full
        // +center
.card
    z-index: 99
    width: 100%
    article
        &.one
            background-repeat: no-repeat
            background-position: center 74%
            text-align: center
            background-image: url(../images/site/two_resp_913.png)
            width: 100%
            height: 90vh
            z-index: -1
            display: block
            @media (min-width: 0px) and (max-width: 375px)
                height: 97vh
                background-size: 140%
            @media (min-width: 376px) and (max-width: 450px)
                height: 118vh
                background-size: 140%
            +MQ(S)
                background-image: url(../images/site/two_913.png)
        &.two,
        &.tree
            width: 100%
            +MQ(M)
                width: 45%
        &.two
            background-repeat: no-repeat
            background-position: 74% center
            display: inline-block
            text-align: center
            background-image: url(../images/site/seply.png)
            height: 90vh
            position: relative
        &.tree
            background-repeat: no-repeat
            background-position: center 85% 
            //background-size: 100%
            display: inline-block
            text-align: center
            background-image: url(../images/site/info.png)
            height: 90vh
.tabs
    list-style: none
    padding: 0
    margin: 10px auto 0 auto
    width: 100%
    li
        display: inline-block
        width: 100%
        +MQ(S)
            width: 49%
        a
            display: block
            text-align: center
            padding: 20px
            border-bottom: 2px solid $sienna
            color: $darkPeach
            background-color: $lightPeach
            font-weight: 900
            +press
                background-color: $sienna
                color: $lightPeach
            &.active
                background-color: $sienna
                color: $lightPeach
.tabgroup
    div
        padding: 30px
        width: 100%
