.fern
    &home
        position: absolute
        top: 0
        left: 0
        +afterimg
        width: 100%
        height: 100vh
        &.in
            background-image: url(../images/site/home_min_913.png)
        &.out
            background-image: url(../images/site/home_913.png)
    &two
        position: absolute
        top: 0
        left: 0
        +afterimg
        background-image: url(../images/site/two_913.png)
        width: 100%
        height: 100vh
        z-index: -1  
